
$primary: #E0752F;
$light: #F2F4F1;
$dark: #343434;
$accordion-button-active-bg:  #E3E3E3; 
$accordion-button-active-color: #5F6368;
$accordion-icon-active-color: #E0752F;
@import '~bootstrap/scss/bootstrap.scss';

body {
    text-align: center;
    background-color: #ffff;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: #343434;
  }
  
  ul {
    list-style-type: none;
  };

  .navbar {
    position: fixed;
    top: 0
  }

// .App {
//   background-image: url('../public/img/slider-1.png');
// }